{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block content %}

<h1>{{ version.title }}</h1>


{% for module in version.coursemodules.all %}
    <h2>{{ module.title }}</h2>

    <h3>{% trans 'Learning Outcomes' %}</h3>
    <ol>
    {% for lo in module.coursemodulelos.all  %}
        <li>{{ lo.learning_outcome }}</li>
    {% endfor %}
    </ol>
    <h3>{% trans 'Activities' %}</h3>
    <ol>
    {% for la in module.coursemodulelas.all  %}
        <li><strong>{{ la.title }}</strong><br/>
            {{ la.description }}</li>
    {% endfor %}
    </ol>

    <h3>{% trans 'Quiz Questions' %}</h3>
    <ul>
    {% for q in module.modulequestions.all  %}
        <li>{{ q.question }}</li>
    {% endfor %}
     </ul>
{% endfor %}
{% endblock %}